# This file controls the behaviour of line input editing for
# programs that use the GNU Readline library.  Existing
# programs include FTP, Bash, and GDB.
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include any system-wide bindings and variable
# assignments from /etc/Inputrc
$include /etc/Inputrc

# ctrl + right arrow
"\e[1;5C": forward-word
# ctrl + left arrow
"\e[1;5D": backward-word

# ctrl + backspace
"\x7f": backward-kill-word
# ctrl + delete
"\e[3;5~": kill-word

# To help with my broken ps1 for multi-line commands with ctrl + r.
"\x0c": clear-screen


set completion-ignore-case on
